.item1{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:300px ;
    height:40px;
    
    background-color: #2E59D9;
}
p{
    color: white;
    margin-top: 0px; 
    padding-top: 2px;
    padding-left:90px;
}
.item2{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:300px ;
    height:30px;
    
    background-color:#C4BD97;
}
.item2 p{

    color: white;
    margin-top: 0px; 
    padding-top: 2px;
    padding-left:90px;
}
.item3{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:70px ;
    height:60px;
    background-color:#C6D9F1;
}
.item3 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:2px;
}
.item4{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:70px ;
    height:60px;
    background-color:#E6B9B8;
}
.item4 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:2px;
}
.item5{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:70px ;
    height:60px;
    background-color:#C3D69B;
}
.item5 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:2px;
}
.item6{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:70px ;
    height:60px;
    background-color:#FAC090;
}
.item6 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:2px;
}
.items{
    border-style: solid;
    border-width: 0px;
    width: 305px;
    display: flex;
    justify-content: space-between;
}
.item7{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:145px ;
    height:60px;
    background-color:#00B0F0;
}
.item7 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:40px;
}
.item8{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:145px ;
    height:60px;
    background-color:#00B0F0;
}
.item8 p{

    color:white; 
    margin-top: 0px; 
    padding-top: 20px;
    padding-left:40px;
}
.ite{
    border-style: solid;
    border-width: 0px;
    width: 305px;
    display: flex;
    justify-content: space-between;
}
.item9{
    border-style: solid;
    border-width: 2px;
    border-color:#7791B1;
    width:300px ;
    height:40px;
    background-color:#B3A2C7;
}
.item9 p{
    color: white;
    margin-top: 0px; 
    padding-top: 2px;
    padding-left:90px;
}
body{
    padding-left: 100px;
}

